{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email, {
        'attr': {
            'class': 'form-control'
        },
        'row_attr': {
            'class': 'mb-3'
        }
    }) }}
    {{ form_row(registrationForm.plainPassword, {
        'label': 'Password',
        'attr': {
            'class': 'form-control'
        },
        'row_attr': {
            'class': 'mb-3'
        }
    }) }}
    {{ form_row(registrationForm.agreeTerms, {
        'label': 'I agree to the terms and conditions',
        'attr': {
            'class': 'form-check-input'
        },
        'row_attr': {
            'class': 'form-check mb-3'
        }
    }) }}

    <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
