{{ form_start(form) }}
{% for field in form %}
    {{ form_widget(field) }}
{% endfor %}
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
<a class="btn btn-primary" href="{{ path('app_post_index') }}">Back to list</a>
{{ include('post/_delete_form.html.twig') }}
{{ form_end(form) }}
