{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center">
        {% if app.request.attributes.get('_route') == 'app_post_index' %}
            <h1 class="text-center p-3">Posts</h1>
        {% endif %}
        {% if app.request.attributes.get('_route') == 'app_post_admin_index' %}
            <div class="justify-content-end">
                <a class="btn btn-primary" href="{{ path('app_post_new') }}">Create new</a>
            </div>
        {% endif %}
    </div>
    <div class="d-grid gap-5">
        {% for post in posts %}
            {{ include('post/post.html.twig') }}
        {% else %}
            <div>No records found</div>
        {% endfor %}
    </div>
{% endblock %}
