<div class="card">
    <div class="card-body">
        <a class="text-decoration-none font-weight-bold font-size-lg h2-font-size"
           href="{{ 'app_blog' in app.request.attributes.get('_route')?path('app_blog_show', {'id': post.id}):path('app_post_show', {'id': post.id}) }}">
            <h2 class="fs-2 text-center">{{ post.title }}</h2>
        </a>
        <div class="d-flex align-items-center  p-3">
            <div class="col">
                {% if post.createdAt %}
                    <span class="badge bg-secondary">created {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</span>
                {% endif %}
                {% if post.updatedAt %}
                    <span class="badge bg-info">updated {{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</span>
                {% endif %}
            </div>
            <div class="d-flex gap-3">
                {% if 'app_post' in app.request.attributes.get('_route') %}
                    <a class="btn btn-warning" href="{{ path('app_post_edit', {'id': post.id}) }}">Edit</a>
                    {{ include('post/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
        <div class="description text-center">{{ post.description |raw }}</div>
    </div>
</div>