<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_blog') }}">Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route')=='app_post_index'?'text-primary' }}"
                           aria-current="page" href="{{ path('app_post_index') }}">Admin</a>
                    </li>
                {% endif %}
            </ul>
            <span class="navbar-text">
               {% if app.user %}
                   <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
               {% else %}
                   <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.attributes.get('_route')=='app_login'?'text-primary' }}"
                               aria-current="page" href="{{ path('app_login') }}">Login</a>
                        </li>
                       <li class="nav-item">
                            <a class="nav-link {{ app.request.attributes.get('_route')=='app_register'?'text-primary' }}"
                               aria-current="page" href="{{ path('app_register') }}">Register</a>
                        </li>
                    </ul>
               {% endif %}
            </span>
        </div>
    </div>
</nav>